player-connection-mode=Listen
player-connection-guid=909768730
player-connection-debug=0
player-connection-project-name=Cognition Design
player-connection-ip=141.2.190.144
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
vr-enabled=1
vr-device-list=OpenVR,Oculus
hdr-display-enabled=0
